<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
      <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:8585/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <proxy enabled="true" preserveHostHeader="true" />
        <defaultDocument>
            <files>
                <add value="web.js" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>